@charset "UTF-8";
/* CSS Document */
body{
	 background: #FFF url(../imag/dots.png) repeat fixed 0% 0%; /*url("imag/bg-empresas.png") repeat fixed center center transparent;*/;
	 padding:0; 
	 margin:0 auto;
	 font-size:1em;
	 color:	#666;/*677280*/	 
	 width:100%;	
	 height:100%;
	 counter-reset: li-counter;
	 font-family: TelefonicaIE, verdana;
}
select{font-family:TelefonicaIE, verdana; font-size: 14px;height:25px; border:1px solid #666;color:#EEE;background:#555 url("../imag/ui-bg_glass_20_555555_1x400.png") repeat-x scroll 50% 50%;border-radius:6px;}

section, article, aside, footer, header, nav, hgroup {display:block;}
a {font-size:1em; color:#2e83ff; text-decoration:none;cursor:pointer;}
i {color:#14a4ad; font-size:.85em;}

/*Titulos*/
h2 {
	color:#0c99d5; font-weight:normal; font-family: amaranthregular,Tahoma; padding:10px; margin:0; border-bottom:1px solid #D4CCB0; margin-bottom:0; text-shadow: 1px 1px 2px #56c6f5;
}
h3 {
	color:#00a7b2; font-family:TelefonicaIE, verdana; padding:0;
} 
h4 {
	color: #00C6D7;font-family: TelefonicaIE, verdana; font-size:1.08em; margin-bottom:.5em;
	}
h5 {
	font-size:1em; color:#469bdd; display:inline; padding:0; font-weight:bold; font-family: TelefonicaIE, verdana;
}
/*Version*/
#dialog-link {color:#0c99d5;border-left:1px solid #D4CCB0;position: relative; z-index:9999; font-size:.75em; padding: .3em .98em .35em 1.5em; text-decoration: none; float:right; height: auto; line-height: 40px;}
#dialog-link span.ui-icon {margin: 0 5px 0 0; position: absolute; left: .2em; top: 50%; margin-top: -8px;}
#dialog-link > div {display:none;}
#sub2 {width:20em; text-align:center;}
/*aplica*/

.headerTip {color:#0c99d5;border-left:1px solid #D4CCB0;padding:0 1em .5em 1em;float:right;text-align:center;height:40px;background:#ECE8DA url("../imag/ui-bg_highlight-hard_100_f5f3e5_1x100.png") repeat-x scroll 50% 50%;line-height:20px;}
.headerTip i{font-size:.75em;color:#0c99d5;font-weight:bold;font-style:normal;display:block;}
a.tooltip span{background:#0c99d5;color:#fff;padding:.15em .4em;margin:0 0 0 .5em;cursor:pointer;border-radius:5px;font-size:.75em;box-shadow: 0px 0px 3px 1px #086891;}
a.tooltip span:hover{background:#fff;color:#0c99d5}
a.tooltip {outline:none;}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip p {z-index:10;display:none; padding:14px 20px;margin-top:60px;margin-left:-160px;max-width:200px;width:29%;line-height:16px; text-align: left;font-size: .9em;border-radius:2px; box-shadow: 0px 0px 8px 4px #666;opacity: 0.8;}
a.tooltip:hover p{display:inline; position:absolute;border:2px solid #FFF;color:#EEE;background:#333 url(../imag/css-tooltip-gradient-bg.png) repeat-x 0 0;}
a.tooltip img{z-index:20;position:absolute;border:0;top:-14px;left:105px;}

/*Flujo*/
.flujo{background:#f39200;color:#fff;padding:.15em .4em;margin:1em 0;cursor:pointer;border-radius:5px;font-size:.75em;box-shadow: 0px 0px 3px 1px #995c00;}
.flujo:hover{box-shadow: 0px 0px 3px 1px #f39200;background:#fff;color:#f39200}

/*Menu Vertical guias*/
#menu{
	background-color:#ECE8DA;width:280px;float:left; cursor:pointer; padding:10px 0; margin-top:0; box-shadow: 0 0 6px rgba(67, 59, 35,.16),0 6px 12px rgba(67, 59, 35,.16);
	/*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);}*/}
.mv{
	padding:7px 10px;width:100%;margin: 4px 0 0 -5px; cursor:pointer; color:#433F38; font-size:.95em; border-radius:0 0 0 6px;
	border-left: 2px solid transparent; border-top:1px solid #D4CCB0;box-sizing:border-box; border-bottom:1px solid #D4CCB0; border-right:1px solid #D4CCB0;
	background: #ECE8DA url("../imag/ui-bg_highlight-hard_100_f5f3e5_1x100.png") repeat-x scroll 50% 50%;
}
.mv:hover {
	 background:#fff; color:#459E00; font-weight:bold; border-left: 2px solid transparent; border-top:1px solid #327e04; border-bottom:1px solid #327e04; border-right:1px solid #327e04;
}
.mv.seleccionado {
	border:1px solid #327e04;box-sizing:border-box;width:100%;background:#67B021 url("../imag/ui-bg_highlight-soft_25_67b021_1x100.png") repeat-x scroll 50% 50%; color:#fff; margin: 4px 0 0 -6px; font-weight:bold;
}
.mv > p{width:0px; height:0px; border-style: solid; border-width: 9px 6px 0 6px; border-color: #D4CCB0 transparent transparent transparent; float:right; margin:0 -5px;}

#menu div {font-size:.9em; padding:5px 0 5px 10px; color:#433F38; margin:2px 2px 2px -15px; border:1px solid #DFD9C3;
	background: #f5f3e5 url("../imag/ui-bg_highlight-hard_100_f5f3e5_1x100.png") 50% top repeat-x;}
#menu div.seleccionado{	
	border:1px solid #327e04; color:#fff;
	background: url("../imag/ui-bg_highlight-soft_25_67b021_1x100.png") repeat-x scroll 50% 50% #67B021;}
#menu div:hover{
	background:#fff; color:#459E00;
}
.esconder{display: none;}
/*Carga Contenido*/
.contenedor{
	background:#fff;color:#666;border:1px solid #CCC;border-radius:0px 0px 8px 8px;box-sizing:border-box;box-shadow:0 0 30px rgba(0, 102, 128,.16),0 6px 12px rgba(0, 102, 128,.32);margin:0 auto;max-width:1200px;min-width:300px;
	/*background: #fff; color: #666;width:1000px; margin:0 auto; border:1px solid #CCC; border-radius: 0px 0px 8px 8px;
	box-shadow:0 0 30px rgba(0, 102, 128,.16),0 6px 12px rgba(0, 102, 128,.32);
	/*box-shadow: -3px 0px 5px -3px rgba(1, 1, 1, 0.87), 3px 0px 5px -3px rgba(1, 1, 1, 0.87)*/	
}
.contenedor header{border-bottom:1px solid #D4CCB0;}
.llamarContenido, .llamar, .llamar4 {padding:0 2% 2% 2%;float:right;max-width:820px;margin: 0 auto;background:#fff;text-align:justify;width:100%;}
.llamar, .llamar4 {display:none;}

.section {display:none; padding:0 2% 2% 2%;float:right;max-width:820px;margin: 0 auto;text-align:justify;width:100%;}

/* For smartphones*/
@media (max-width: 480px) {
	.headerTip {padding:0 .1em .5em .1em;border-bottom:1px solid #D4CCB0;}
	a.tooltip span{padding:.1em .2em;margin:0 0 0 .1em;}
}
@media (max-width: 320px) {
.headerTip {min-width:80px;}
}
/*Listas*/
ol li{
	margin-top: 5px; list-style-image:none;
}
ol.circles-list {color:#666;}
ol.circles-list > li{
    position: relative; margin-bottom: 6px; padding-top: 6px; text-align:justify; list-style-image:none; 
}
ol.circles-list > li:before {
    position: absolute; top: .35em; left: -1.7em; width: 1.7em; height: 1.7em; line-height: 1.5em; font-size: 1em; text-align: center; color: #f5f5f5; 
	 background: url(../imag/bg-circle.png) no-repeat center; content: counter(li-counter)/* ""*/; counter-increment: li-counter;
}
  /*background: #E8BB00 url("../imag/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;*/
  /*border-radius: 50%; border: 2px solid #EEEEEE; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);*/	
ol.list-alpha {color:#666;}
ol.list-alpha > li{
    position: relative; margin-bottom: 6px; padding-top: 6px; text-align:justify; list-style-image:none;   
}
ol.list-alpha > li:before {
    position: absolute; top: .3em; left: -1.8em; width: 1.7em; height: 1.7em; line-height: 1.7em; font-size: 1em; text-align: center;
    color: #f5f5f5; font-weight:bold; background: url(../imag/bg-circle.png) no-repeat center; content: counter(li-counter, lower-alpha) "."; counter-increment: li-counter;
}
#alpha > li{
	list-style:lower-alpha;
}
ol li{
	margin-top: 5px; list-style-image:none;
}
ol.green{
	color:#14a4ad; font-weight: bold;
}
ol p {
	color:#666; font-weight:normal; font-size:1em;
}
ul {
	list-style-image:url(../imag/icon.png);
	margin-top: .8em; text-align:justify;
}
.Bull li{
	list-style-image:url(../imag/bien.png); margin-top:.4em;	
}
.Pin li{
	list-style-image: url(../imag/pinrojo.png); margin-top: 10px;	
}
.PinG li{
	list-style-image: url(../imag/pin.png); margin-top:.4em; text-align:justify;	
}
.llamar4, .llamar, .llamarContenido, li{
	list-style-image:url(../imag/pin.png); margin-top:.4em; text-align:justify;
}
/*Tabla*/
.tablas{margin:10px 0 auto;}
	/*box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');*/
.tablas th, .tablas td{font:.8em verdana;border-radius:3px;padding:5px;box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);}
.tablas td {border:1px solid #ddd;color:#2e6e9e;text-align:center}
.tablas th{background:#333 url(../imag/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;color:#fff;height:30px;border:1px solid #444}
.tablas tr{background:#f6f6f6;}
.tablas tr:hover{background:#fff;}

/*.tablas th{
	background: url(../imag/bg_diamond_0078ae.png) repeat scroll 50% 50%;color:#FFF;height:30px;}
	/*background:url("../imag/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% #0078AE;*/
/*.tablas tr{background:#EBFAFF;}
.tablas td{padding:5px;}*/
.titabla{
	background:#14a4ad; color:#FFF; height: 20px;
}
.titabla:hover{background:#0a5c83;color:#FFFFFF;}
/*Float*/
.cb{
	clear: both;
}
.floatr{
	float:right;
}
.floatleft{
	float:left;
}
/*Iconos*/
.imag{
	background: url(../imag/arrow4.png) no-repeat 3px 9px; padding:0 3px 0 15px;margin:0px; border:none;
}
.imag:hover{
	background: #95ce0d url(../imag/arrow4B.png) no-repeat 3px 9px;
	color:#fff; border-bottom:1px solid #95ce0d; box-shadow:0 0 2px 2px #D5EB9E; border-radius:5px; box-sizing: border-box;
}
/*Iconos*/
.s {border-radius:5px; box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)}
/*guion*/
.guion{
	margin:10px 20px; color:#681818; font-size:.9em; padding:10px; background: #E1DBC8; border-radius:6px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
}
#arrowguion {
	width:0px; height:0px; border-style: solid; border-width: 5px 25px 10px 5px; border-color: transparent #E1DBC8 transparent transparent; 
	top: -58px; left: -10px;position: relative;
}
.fleg {
	width:0; height:0; border-style: solid; border-width: 7px 0px 7px 7px; border-color: transparent transparent transparent #6db329; font-size:0; margin:0 10px; position:relative; top:-5px;	
}
/*iconos bandera*/
.flag{
	padding-left:18px;background: url(../imag/circle-arrow-4eb305.png) no-repeat 0 5px;margin-top:8px;margin-right:5px;
} 
/*iconos alerta*/
.alerta {
	background:  url(../script/UI/css/custom-theme/images/ui-icons_cd0a0a_256x240.png) no-repeat -0px -146px;			
	padding:1px 3px 1px 13px;margin:0px 2px 0 -17px;
}
#icons dt{
	margin: 2px;position: relative;padding: 4px;cursor: pointer;list-style: none;width:16px;height:16px;margin: 0 4px;display:inline;}
/*alert*/
#noclass {background:none; border:none; box-shadow:none; filter:none;}
.acordion{width:100%}

.rc {background:#ffffe5; padding:0 1em; margin-top:1em; border:0.05em solid #fad42e}