@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'TelefonicaIE';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/MovistarHeadline-Regular.eot');    
	src: url('fonts/MovistarHeadline-Regular.eot?#iefix') format('embedded-opentype'),		
		 url('fonts/MovistarHeadline-Regular.ttf') format('truetype'),
		 url('fonts/MovistarHeadline-Regular.otf');
}
@font-face {
    font-family: 'TelefonicaTitulo';
    src: url('fonts/movistarheadline-bold-webfont.eot');
    src: url('fonts/movistarheadline-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/movistarheadline-bold-webfont.ttf') format('truetype'), 
		 url('fonts/movistarheadline-bold-webfont.otf');      
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telefonica_light';
    src: url('fonts/TelefonicaHeadline-Light.eot');
    src: url('fonts/TelefonicaHeadline-Light.eot?#iefix') format('embedded-opentype'),        
		 url('fonts/TelefonicaHeadline-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amaranthregular';
    src: url('fonts/Amaranth.eot');
    src: url('fonts/Amaranth.eot?#iefix') format('embedded-opentype'),       
         url('fonts/Amaranth.ttf') format('truetype'),
		 url('fonts/Amaranth-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'bitteritalic';
	src: url('fonts/bitter-italic.eot');
	src: url('fonts/bitter-italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/bitter-italic.woff') format('woff'),
		 url('fonts/bitter-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bitteritalic';
	src: url('fonts/bitter-italic.eot');
	src: url('fonts/bitter-italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/bitter-italic.woff') format('woff'),
		 url('fonts/bitter-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'introscriptr';
	src: url('fonts/introscriptr.eot');
	src: url('fonts/introscriptr.eot?#iefix') format('embedded-opentype'),
		 url('fonts/introscriptr.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'introrustg';
	src: url('fonts/introrustg.eot');
	src: url('fonts/introrustg.eot?#iefix') format('embedded-opentype'),
		 url('fonts/introrustg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}